.card
  .card-image
    = image_tag "https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png"
  .card-header
    = recipe.name
  .card-copy
    %p= recipe.description? ? recipe.description : "No description available"
    = link_to "View recipe", recipe_path(recipe)
