.card
  .card-image
    = image_tag recipe.picture(:small)
  .card-header
    = recipe.name
  .card-copy
    %p= recipe.description? ? recipe.description : "No description available"
    = link_to "View recipe", recipe_path(recipe)
