// TYPEOGRAPHY
h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

@mixin button-base {
  appearance: none;
  border: 1px solid;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  padding: $small-spacing $base-spacing;
  line-height: 1;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

@mixin button-colors($button-color: #ddd, $button-text-color: #fff) {
  color: $button-text-color;
  background-color: $button-color;
  border-color: $button-color;
  &:hover, &:active, &:focus {
    color: $button-text-color;
    background-color: shade($button-color, 10%);
  }
}

%button {
  @include button-base;
  @include button-colors;
}

.button {
  @extend %button;
}

.button-blue {
  @extend %button;
  @include button-colors(#55acee)
}

.button-red {
  @extend %button;
  @include button-colors(#ff4c4c);
}

.button-green {
  @extend %button;
  @include button-colors(#34bf49)
}

@mixin panel {
  border: 1px solid #ddd;
  border-radius: $base-border-radius;
  background-color: #fff
}

.flash {
  position: relative;
  .close {
    @include position(absolute, 0 0 null null);
    @include margin(null 20px null null);
    background-color: transparent;
    border: 0;
    font-size: 20px;
    cursor: pointer;
  }
}
