@mixin button-base {
  appearance: none;
  border: 1px solid;
  border-radius: $base-border-radius;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  padding: $small-spacing $base-spacing;
  line-height: 1;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

@mixin button-colors($button-color: #ddd, $button-text-color: #fff) {
  color: $button-text-color;
  background-color: $button-color;
  border-color: $button-color;
  &:hover, &:active, &:focus {
    color: $button-text-color;
    background-color: darken($button-color, 10%);
  }
}

%button {
  @include button-base;
  @include button-colors;
}

.button {
  @extend %button;
}
