// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section.new-recipe-wrapper {
  @include outer-container();
  padding-top: 2em;

  .recipe-wrapper {
    @include clearfix();
  }
}

.ingredients, .directions {
  @include span-columns(6);
}

.actions {
  @include margin(2em null null null);
}
