%section.intro
  .hero
    .hero-inner
      %a{href: "", class: "hero-logo"}
        %i.fa.fa-cutlery
      .hero-copy
        %h1 Create, Share, and Favorite Recipes
        %p Create and share recipes for others to use and find recipes you may enjoy

%section.recipes
  = render @recipes
