-# add navigation links to this file
%li.nav-link
  %a{href: 'javascript:void(0)'} Products
%li.nav-link
  %a{href: 'javascript:void(0)'} About Us
%li.nav-link
  %a{href: 'javascript:void(0)'} Contact
%li.nav-link.more
  %a{href: 'javascript:void(0)'} More
  %ul.submenu
    %li
      %a{href: 'javasscript:void(0)'} Submenu Item
    %li
      %a{href: 'javasscript:void(0)'} Another Item
    %li.more
      %a{href: 'javasscript:void(0)'} Item with submenu
      %ul.submenu
        %li
          %a{href: 'javasscript:void(0)'} Sub-submenu Item
        %li
          %a{href: 'javasscript:void(0)'} Another Item
        %li
          %a{href: 'javasscript:void(0)'} Submenu Item
    %li.more
      %a{href: 'javasscript:void(0)'} Another submenu
      %ul.submenu
        %li
          %a{href: 'javasscript:void(0)'} Sub-submenu
        %li
          %a{href: 'javasscript:void(0)'} An Item
